body {
  margin: 0;
  background: #010001;
  padding-top: 53px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header {
  margin: 0 auto;
  display: flex;
  max-width: 1230px;
  justify-content: space-between;
}
.header__logo {
  margin: 0;
}
.main-nav__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.main-nav__item {
  list-style: none;
  margin-right: 20px;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;

  text-decoration: none;
}
.secondary-nav__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.secondary-nav__item {
  list-style: none;
  margin-right: 20px;
}
.secondary-nav__item:last-child {
  margin-right: 0;
}
.secondary-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  text-decoration: none;
}
.main {
  padding-top: 120px;
}
.main__title {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}
.main__subtitle {
  margin: 0 auto;
  margin-top: 26px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  max-width: 268px;
  text-align: center;
}
.main__subtitle:after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #fff;
  margin: 26px auto 0;
}
.video {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  height: 750px;
}
.features {
  margin: 0 auto;
  width: 85%;
  max-width: 1100px;
  position: relative;
  padding: 100px 0 100px;
}
.features__table-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  max-width: 177px;
}
.features__table {
  margin-top: 45px;
  display: flex;
  font-size: 18px;
  line-height: 179.69%;
}
.features__table-names {
  list-style: none;
  padding: 0;
  margin-right: 130px;
}
.features__table-name {
  margin-bottom: 11px;
  font-style: normal;
  font-weight: normal;
}
.features__table-value {
  margin-bottom: 11px;
  font-style: normal;
  font-weight: normal;
}
.features__table-value_span {
  font-style: normal;
  font-weight: normal;

  color: #b2b0b2;
}
.features__table-values {
  list-style: none;
  padding: 0;
}
.features__text-title {
  margin-top: 210px;
}
.features__paragraph {
  margin-top: 45px;
  max-width: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

.rocket {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
  max-width: 300px;
}
.footer {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav {
  margin-top: 45px;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  justify-content: center;
}
.footer__list {
  display: flex;
  padding: 0;
  text-align: center;
  justify-content: center;
}
.footer__item {
  list-style: none;
  margin-right: 20px;
}
.footer__item:last-child {
  margin: 0;
}
.footer__paragraph {
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  margin-top: 28px;
}
.footer__email {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #808080;
}
.footer__button {
  margin-top: 30px;
  color: #fff;
  margin: 0 auto;
  min-width: 260px;
  min-height: 60px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}
@media (max-width: 960px) {
  .rocket {
    max-width: 230px;
  }
  .features__table-names {
    margin-right: 50px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .main-nav {
    margin-bottom: 20px;
  }
  .rocket {
    max-width: 180px;
  }
  .video {
    width: 100%;
  }
  .features__paragraph {
    max-width: 450px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 0 0 100px 0;
  }
  .rocket {
    position: relative;
  }
  .features__table {
    max-width: 300px;
    font-size: 12px;
  }
  .footer__list {
    flex-wrap: wrap;
  }
  .video {
    max-height: 320px;
  }
}
